body {
    background-color: rgb(1, 21, 40);
    color: rgb(91, 189, 255);

}

.about-body {
    background-color: rgb(1, 21, 40);
    color: rgb(91, 189, 255);
}

.About {
    display: inline-block;
    position: static;
    margin-top: 8%;
    top: 20%;
    text-align: center;
}

.About-content {
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.contact {
    display: inline-block;
    position: static;
    margin-top: 8%;
    top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}


.container {
    margin-top: 30px;


}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0pc 10px 40px rgb(2, 46, 87);
}

.card-container {
    display: flex;
    margin: 20px;
}



.section-title {
    text-align: center;
    margin-top: 2em;
    padding: .5em 0;
    border-radius: .3em;
}

.service {
    background-color: rgb(1, 27, 52);
    margin-top: 2em;
    border-radius: 1em;
    text-align: center;
    padding: 3em 2em 1em 2em;
}

.service-heading {
    padding: 1em;
}

.service .glyphicon {
    font-size: 5em;
}

.section-title {
    background-color: rgb(1, 27, 52);
}


.nav-link:hover {
    color: rgb(91, 189, 255);
}

.navbar {
    background-color: rgb(1, 27, 52);
}

.card {
    background-color: rgb(1, 27, 52);
    box-shadow: 0pc 10px 40px rgb(2, 46, 87);
    color: rgb(91, 189, 255);
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
}

.row {

    display: flex;
    margin: 20px;
    justify-content: center;
}


.card img {

    background-color: rgb(1, 27, 52);
}